.mvn/
.vscode/
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
mvnw*
HTLP.md
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
target/